body {
	background-color: #e1e1e8;
	padding: 10px;
}

.animation-area {
	width: 500px;
	height: 500px;
	background-color: #ffffff;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 0px 3px 14px -5px rgba(19,15,38,1);
	border-radius: 4px;
	position: relative;
	display: block;
}

.animatable-object {
	position: absolute;
	width: 30px;
	height: 30px;
	border-radius: 100%;
	background-color: #2d5699;
	opacity: 0.4;

}

.start-css-anim #o1 {
	top: 100px;
	left:20px;
	-webkit-animation: moveX 0.5s linear 0s infinite alternate, moveY 0.6s linear 0s infinite alternate;
	-moz-animation: moveX 0.5s linear 0s infinite alternate, moveY 0.6s linear 0s infinite alternate;
	-o-animation: moveX 0.5s linear 0s infinite alternate, moveY 0.6s linear 0s infinite alternate;
	animation: moveX 0.5s linear 0s infinite alternate, moveY 0.6s linear 0s infinite alternate;
}

.start-css-anim #o2 {
	top: 230px;
	left:400px;
	-webkit-animation: moveX 0.7s linear 0s infinite alternate, moveY 0.6s linear 0s infinite alternate;
	-moz-animation: moveX 0.7s linear 0s infinite alternate, moveY 0.6s linear 0s infinite alternate;
	-o-animation: moveX 0.7s linear 0s infinite alternate, moveY 0.6s linear 0s infinite alternate;
	animation: moveX 0.7s linear 0s infinite alternate, moveY 0.6s linear 0s infinite alternate;
}

.start-css-anim #o3 {
	top: 300px;
	left:0px;
	-webkit-animation: moveX 1s linear 0s infinite alternate, moveY 0.2s linear 0s infinite alternate;
	-moz-animation: moveX 1s linear 0s infinite alternate, moveY 0.2s linear 0s infinite alternate;
	-o-animation: moveX 1s linear 0s infinite alternate, moveY 0.2s linear 0s infinite alternate;
	animation: moveX 1s linear 0s infinite alternate, moveY 0.2s linear 0s infinite alternate;
}

@-webkit-keyframes moveX {
  from { left: 0; } to { left: 470px; }
}
@-moz-keyframes moveX {
  from { left: 0; } to { left: 470px; }
}
@-o-keyframes moveX {
  from { left: 0; } to { left: 470px; }
}
@keyframes moveX {
  from { left: 0; } to { left: 470px; }
}

@-webkit-keyframes moveY {
  from { top: 0; } to { top: 470px; }
}
@-moz-keyframes moveY {
  from { top: 0; } to { top: 470px; }
}
@-o-keyframes moveY {
  from { top: 0; } to { top: 470px; }
}
@keyframes moveY {
  from { top: 0; } to { top: 470px; }
}

